
 :root { 
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --text-color-white: #FFFFFF;
  --accent-color: #2196F3;
  --bt-primary: #F5F4FA;
  --bt-second: #2196F3;
  --block-color: #F5F4FA;
  --color-footer: #2F303A;
 }

 /* text-align: center; -выравнивает текстовые элементы по центру */

 /* h1.
  h2.
  h3 {
   margin-top: 0; сбрасиваем нужные отступы всем h
 } */
 /* !ЗАДАЕМ ВСЕМ элементам box-sizing: border-box, кому надо унаследуйте его! */
 html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

 body {
  color: var(--text-color-black);
  font-family: Roboto, sans-serif;
  /* width: 1600px; */
  margin: 0;
}

 button {
  font-family: Roboto, sans-serif;
 }
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

  /* убрали в списках точки */
ul {
    list-style: none;
  }
  /* убралив ссылках подчеркивание.лучше убирать точечнов нужном месте.
   не задават всем МОЖНО ПЕРЕНЕСТИ В МОДЕРН -НОРМАЛАЙЗ */
a {
  text-decoration: none;
}

/************** id-идендтификатор hedera-#headre
justify-content: space-between; -распределение элементов по горизонтали*****/
  #header {
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
   width: auto;
   height: 80px;
   border: 1px solid #ECECEC;
   padding-left: 215px;
   padding-right: 215px;
}

.logo {
   color: var(--accent-color);
   display: inline-block;
   font-family: Raleway;
   min-width: 155px;
   height: 31px;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   margin-top: 24px;
   margin-bottom: 25px;
   margin-right: 93px;   

}
.logo span{
   color: #000000;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

 /************** ЛОГОТИП в футере *************/

.logo-foot {
  font-family: Raleway;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  color: #2196F3;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 60px;
  padding-right: auto;
  padding-bottom: 20px;
  width: 145px;
}

.logo-foot span, .logo-span{
  font-size: 26px;
  line-height: 1.19;
}

.foot-mail {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
}

   /************ footer*************8 */
.footer {
  background-color: var(--color-footer);
  width: auto;
  height: 252px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 215px;
}
.info-studio {
  display: block;
  width: 231px;
  height: 81px;
  /* margin-left: 215px; */
}
  
.info-studio a,span{
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: normal;
  
  }
.info-studio a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: normal;
  /* margin-left: 215px; */
}

.info-studio span {
width: 231px;
height: 21px;
}

/********* ШАПКА header nav PORTFOLIO***************/
  
.site-nav a{
  color: var(--text-color-black);
}
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
   }

.auth-nav {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 0;
 }

.nav {
  display: inline-block;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  width: 928px;
  justify-content: space-between;
}

.nav-mailo {
  padding-right: 50px;
}
 
.site-nav li:not(:last-child) {
   margin-right: 50px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196F3;
} 
  
  /* подсвечивается активная  СТАНИЦА сейчас, где находимся */
.site-nav .link.current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.auth-nav a{
  color: var(--text-color-grey);
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: #2196F3;
}

.portfolio-filter button:hover,
.portfolio-filter button:focus {
  color: #FFFFFF;
  background-color: var(--bt-second);
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
}
   
  /****************** main portfolio********/
  .portfolio-filter {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
    padding-bottom: 16px;
  }

.portfolio {
/* background: lightpink; */
  margin-top: 94px;
  margin-bottom: 94px;
}
  .portfolio-card p {
    color: var(--text-color-grey);
     width: 322px;
     height: 30px;
     margin-top: 0;
     margin-right: 24px;
     margin-bottom: 20px;
     margin-left: 24px;
  }

  .portfolio-card h3{
  color: var(--text-color-black);
  font-size: 18px;
  line-height: 1,11;
  letter-spacing: 0.06em;
  /* background-color: mediumblue; */
  width: 322px;
  height: 36px;  
  margin-top: 20px;
  margin-right: 24px;
  margin-bottom: 4px;
  margin-left: 24px;
 }
 .portfolio-card li {
   border: 1px solid #EEEEEE;
   margin-bottom: 30px;
 }

  /**** у последних 3х элементов li отступ margin-bottom: 0 px  *** */
 .portfolio-card li:nth-last-child(-n + 3) {
   margin-bottom: 0;
 }
 
 
 .portfolio-card {
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   width: 1170px;
   height: 1360px;
   margin-top: 34px;
   margin-bottom: 94px;
   padding-left: 0;
 } 
 
 
 .portfolio-filter .item + .item {
   margin-left: 8px;   
   /* добавили отступ между кнопками 8пх, всем соседям от1го элемента
   при добавление еще одной кнопки, отступы сохраняются автоматически
   можно через not:last-chaild  */
 }


 /* ******кнопки фильтрации с портфолио ******/
 .vse {
  width: 73px;
  height: 38px;
  /* margin-right: 8px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border-color: transparent;
 }
 .veb {
  width: 128px;
  height: 38px;
  /* margin-right: 8px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border-color: transparent;
  
 }
 .pri {
  width: 145px;
  height: 38px;
  /* margin-right: 8px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border-color: transparent;
 }
 .diz {
  width: 103px;
  height: 38px;
  /* margin-right: 8px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border-color: transparent;
 }
.mark {
  width: 130px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border-color: transparent;
}

/************* index  он же STUDIO******************* */

.mainweb {
  background-color: var(--color-footer);
  /* width: 1600px; */
  width: auto;
  height: 600px;
  text-align: center;
}

 h1 {
   color: var(--text-color-white);
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 200px;
   font-weight: 900;
   font-size: 44px;
   line-height: 1,36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

 }

 .btn {
  color: var(--text-color-white);
  background-color: var(--accent-color);
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 30px;
  border: #000000;
 }

 /*********** перечень .list  ***************/
 .list {
   margin-top: 94px;
   margin-bottom: 94px;
 }

 .list li {
   margin-right: 30px;
 }
 .list li:last-child {
   margin-right: 0px;
 }

 .list-item {
   /* display: inline-block; */
   display: flex;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   /* background-color: yellow; */
   /* justify-content: center; */
 }

.list-item h3 {
  color: var(--text-color-black);
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10;
  width: 270px;
  height: 16px;
 }

.list-item p {
  color: var(--text-color-grey);
  width: 270px;
  min-height: 75px;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
 }

  .list-ett,
  .list-pun,
  .list-pln,
  .list-teh {
    width: 270px;
    height: 101px;
  }


/*********** box  с картинками Studio (index) ************/
.work {
  /* outline: 2px solid tomato; */
  height: 386px;
  margin-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}

.work-box {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

 .box-two {
  margin-left: 30px;
  margin-right: 30px;
}

 .work h2 {
   color: var(--text-color-black);
   margin-top: 0;
   margin-bottom: 50px;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 1,67;
   text-align: center;
   letter-spacing: 0.03em;
 }

 .box-one {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;  
 }

.box-two {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
}

.box-three {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}
/************Наша команда блок **************/
.team  {
  background-color: var(--block-color);
}

.team h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 36px;
  line-height: 1.167;
  margin-top: 94px;
  margin-bottom: 50px;
}

  .team-all {
  margin-top: 0;
  padding-bottom: 94px;
 margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  }

  .designer,
  .developer, 
  .marketing,
  .ui {
    width: 270px;
    height: 260px;
  }

.team-designer{
  align-items: center;
  background-color: var(--text-color-white);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  /* Скруглить углы рамки у картинки */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden; */
}


.team-developer {
  background-color: var(--text-color-white);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}


.team-marketing {
  background-color: var(--text-color-white);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

 .team-ui {
   background-color: var(--text-color-white);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
 }
 
 .designer,
 .developer,
 .marketing,
 .ui {
   display: block;
 }

 .team-all {
 text-align: center;
 }

 .team-all p {
   display: block;
  color: #757575;
  
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  height: 19px;
}

.team-all h4{
  /* display: block; */
  align-items: center;
  height: 19px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 30px;
}

.team-name {
  display: inline-block;
  width: 270px;
  height: 108px;
  margin-top: 0;
  margin-bottom: 0;
}

